.logocontainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  /*height: 4rem;           /* Optional: specific container height */
}

div p {
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Space between columns */
    text-align: center;
  }

.left-col {
    flex: 1;
    text-align: right; /* Pushes text to the right */
  }

  .right-col {
    flex: 1;
    text-align: left; /* Pushes text to the left */
  }
  
.logo {
  max-width: 70%;
  height: auto;
  display: block; /* Removes unwanted space below the image */
}

.header {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  text-align: center;
}

.text {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 768px) {
  .text {
    font-size: 8vw; 
  }

  .header {
    font-size: 10vw; 
  }

  .frontpagelinks {
    font-size: 8vw; 
  }

  .italic {
    font-size: 6vw; 
  }

  .italic {
    font-size: 4vw; 
  }

  .notes {
    font-size: 4vw; 
  }
}

@media (max-width: 1920px) {
  .text {
    font-size: 3vw; 
  }

  .header {
    font-size: 8vw; 
  }

  .frontpagelinks {
    font-size: 10vw; 
  }

  .italic {
    font-size: 2vw; 
  }

  .notes {
    font-size: 2vw; 
  }
  
  .frontpagelinks {
    font-size: 6vw;
  }
}

.frontpagelinks {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  text-align: center;
}


.italic {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  font-style: italic;
  text-align: center;
}

.note {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  font-style: italic;
  text-align: center;
}

.linksmall {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}
