.logocontainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  margin-bottom: 0px;
}

div p {
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between columns */
    text-align: center;
  }

.linkscontainer {
  display: block;
  text-align: center;
  align-items: center;
  justify-items: center;
}

table, td, th {
  margin-right: auto;
  margin-left: auto;
}

td {
  padding: 15px;
}

tr {
  padding: 0px;
}

.blogcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between columns */
    text-align: center;
    margin: 1rem;
  }

.left-col {
    flex: 1;
    text-align: left; 
  }

  .right-col {
    flex: 1;
    text-align: left; 
  }
  
.logo {
  width: clamp(350px, 80%, 800px);
  align-items: center;
  height: auto;
  display: block; /* Removes unwanted space below the image */
}

.links {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  text-align: center;
  font-size: clamp(2rem, 6vw, 3rem); 
  padding: 10%;
  margin: 10px;
  position: relative;
}

.frontpageart  {
  width: clamp(300px, 80%, 500px);
  align-items: center;
  height: auto;
  display: block; /* Removes unwanted space below the image */
  margin: 3rem;
}

.header {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  text-align: center;
  font-size: clamp(2.5rem, 10vw, 4rem); 
  position: relative;
}

.text {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 2rem); 
  position: relative;
}

.frontpagelinks {
  color: rgb(255, 0, 0);
  text-decoration: none;
  text-align: center;
  font-size: clamp(3rem, 6vw, 4rem); 
  padding: 0px;
  line-height: 0%;
  margin: 0px;
  position: relative;
}


.italic {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  font-size: clamp(1rem, 4vw, 2rem);  
  position: relative;
}

.notes {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.5rem); 
  position: relative;  
}

.linksmall {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  font-size: clamp(1.25rem, 4vw, 1.5rem);   
  position: relative;
}

.backtotopcontainer {
    display: flex;
    justify-content: center;
}

.blogtext {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-align: center;
  width: clamp(45ch, 60%, 75ch);
  font-size: clamp(1rem, 4vw, 1.5rem); 
  position: relative;
}

.lyricscontainer {
  width: clamp(45ch, 60%, 75ch);
  margin: 0 auto;
  display: block;
  text-align: center;
}

.lyrics {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  font-size: clamp(1rem, 4vw, 1.5rem); 
  position: relative;
}

.lyricheader {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  text-decoration: none;
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 2rem); 
  padding: 10px;
  position: relative;
}

.lyricsgraphic {
  float: left;
  width: 30%;
  position: absolute;
}

@media (max-width:768px) {
  .lyricsgraphic {
    display:none;
  }
}

/* contact */

.contactcontainer {
  height: 100vh;
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}

.contactleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contactinputs {
  width: clamp(20rem, 60vw, 40rem);
  height: 2rem;
  border: 2px solid red;
  outline: none;
}

.contactleft textarea {
  height: 10rem;
}


.contactinputs::placeholder {
  color: rgb(255, 0, 0);
  opacity: 1;
  font: "Helvetica", serif;
  width: clamp(45ch, 60%, 75ch);
  font-size: clamp(0.5rem, 4vw, 1rem); 
}

.contactleft button {
  display: flex;
  align-items: center;
  opacity: 1;
  font: "Helvetica", serif;
  font-size: clamp(0.5rem, 4vw, 1rem); 
  padding: 15px 30px;
  color:white;
  background-color: red;
  outline: none;
  border: none;
  cursor: pointer;
}

/* photo classes */

.junephoto {
  float: left;
  width: 100px;
  height: auto;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1; /* Puts image behind text */
}

.lespaulphoto {
  float: left;
  width: 30%;
  height: auto;
  position: absolute;
  top: 20%;
  left: 10px;
  z-index: -1; /* Puts image behind text */
}

.filmphoto {
  width: 50%;
  justify-content: center;
  align-items: center;
}

@media (max-width:600px) {
  .junephoto, .lespaulphoto  {
    display:none;
  }
}