.logocontainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  /*height: 4rem;           /* Optional: specific container height */
}


.text {
  text-align: center;
}

div p {
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between columns */
  }

.left-col {
    flex: 1;
    text-align: right; /* Pushes text to the right */
  }

  .right-col {
    flex: 1;
    text-align: left; /* Pushes text to the left */
  }

.logo {
  max-width: 80%;
  height: auto;
  display: block; /* Removes unwanted space below the image */
}

.links {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  font-size: clamp(2rem, 6vw, 8rem);
  text-decoration: none;
}

.blogtext {
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  font-size: clamp(1rem, 5vw, 7rem);
  text-decoration: none;
}

.linksmall {
  color: rgb(255, 0, 0);
  font: 1rem "Helvetica", serif;
  font-style: italic;

}

@media (max-width: 768px) {

.italic {  
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  font-size: clamp(1rem, 5vw, 7rem);
  font-style: italic;
  text-decoration: none;
}

.note {
  
  color: rgb(255, 0, 0);
  font: "Helvetica", serif;
  font-size: clamp(1rem, 5vw, 7rem);
  font-style: italic;
  text-decoration: none;
}

.header {
  text-align: center;
  color: rgb(255, 0, 0);
  font: "Times New Roman", serif;
  font-size: clamp(3rem, 8vw, 12rem);
  text-decoration: none;
  margin: 1rem;
}

}
